.root{
    -fx-background-color: #cae0cd;
}

.list-view .list-cell:even {
    -fx-background-color: #4d7f79;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #6f92b3;
    -fx-text-fill: black;
}

.list-cell:selected {
    -fx-background-color: white;
}